{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if has_filters %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media.css }}
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  {% if has_filters %}
    {{ form.media.js }}
  {% endif %}
{% endblock %}

{% block bodyclass %}report{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="inner-center-column">

      {% block title_text %}
        <div id="title" class="title clearfix" style="padding-left:10px;">
          <h3 style="padding:0px;">{{ title }}</h3>
        </div>

        <div id="description" class="clerfix" style="padding-left:10px;">
          {% if description %}<p>{{ description }}</p>{% endif %}
          {% if help_text %}<span style="cursor:pointer; color:#295584; text-decoration:underline;" onclick="javascript:$('#help-text').toggle();">See more</span>{% endif %}
        </div>

        <div id="help-text" class="help clearfix" style="display:none; margin-top:5px; margin-bottom:5px; border:1px solid #f9f9f9; background:#fff; padding:10px; ">
          {{ help_text }}
        </div>
      {% endblock %}

      <p>&nbsp;</p>

      <div class="toolbar-content clearfix">
        {% block search %}
          {% if has_filters %}
            <div id="toolbar" class="clearfix">
              <form id="report-search" action="" method="get" class="form-inline">
                <div class="search-container">
                  {% spaceless %}
                    {{ form }}
                  {% endspaceless %}
                  <input type="submit" value="{% trans 'Search' %}" class="btn btn-info"/>
                  &nbsp;
                </div>
              </form>
            </div>
          {% endif %}
        {% endblock %}
      </div>

      <div class="results">
        {% block result %}
          {% if rl.results %}
            <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  {% for field, label in rl.fields %}
                    <th scope="col">
                      {{ label }}
                    </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for result in rl.results %}
                  <tr>
                    {% for item in result %}
                      <td>{{ item }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endblock %}
      </div>

      {% block pagination %}{% pagination rl %}{% endblock %}

    </div>
  </div>

{% endblock %}
